@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Arvo", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
